@font-face {
    font-family: 'starwars';
    src: url('STARWARS.ttf') format('truetype');
        font-style: normal;
  }

body{
    padding: 0;
    margin: 0;
    font-family: 'starwars', sans-serif;
    background: #000;
    overflow: hidden;

}



h2{
    text-transform: uppercase;
    text-align: center;
}

ul{
    padding: 20px 0;
}

.container{
    position: absolute;
    width: 100vw;
    height: 1000vh;
    bottom: 0;
    overflow: hidden;
    transform-origin: 50% 100%;
    transform: perspective(300px) rotateX(25deg);
}



.episode__about {
    position: absolute;
    top: 100%;
    animation: 100s linear 4s infinite;
}

.text{
    width: 100%;
    color: yellow;
    font-size: 300%;
    text-align: justify;
    font-weight: bold;
}
  

  @keyframes scroll {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-130%);
    }
  }
  